.admin-container{

padding:20px;
font-family:Arial;

}


.match-row{

display:flex;
align-items:center;
gap:10px;

border:1px solid #ddd;
padding:10px;
border-radius:8px;

margin-bottom:10px;

background:#fafafa;

}


.logo{

width:30px;
height:30px;

}


.vs{

font-weight:bold;

}


.league{

color:#888;

}


button{

padding:6px 10px;
border:none;
border-radius:6px;
cursor:pointer;

background:#081c34;
color:white;

}


.delete-btn{

background:red;

}


.delete-selected{

background:#ff3b3b;
margin-bottom:15px;

}


.more-btn{

margin-top:20px;

background:#0b5ed7;

color:white;

padding:10px;

}