.match-list{

  padding:15px;

  background: linear-gradient(180deg,#46491e,#39441c);

}

.title-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:white;
  margin-bottom:10px;
}

.title-row span{
  color:#377c71;
  font-size:14px;
}

.match-card{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:linear-gradient(180deg,#ffd902,#081c34);
  padding:14px;
  border-radius:12px;
  margin-bottom:12px;
}

.team-logo{
  width:40px;
  height:40px;
  object-fit:contain;
}

.match-info{
  text-align:center;
  flex:1;
}

.teams{
  color:white;
  font-weight:600;
  font-size:15px;
}

.teams span{
  color:#00d4ff;
}

.league{
  font-size:12px;
  color:#8fb3d9;
  margin-top:4px;
}

.time{
  font-size:12px;
  color:#8fb3d9;
  margin-top:2px;
}





.sports-select{

display:flex;

gap:10px;

margin-bottom:15px;

}

.select-box{

flex:1;

background:#1c2f45;

border-radius:10px;

padding:10px;

text-align:center;

color:white;

cursor:pointer;

transition:0.2s;

}

.select-box.active{

background:#3cff00;

color:#081c34;

font-weight:bold;

}

.count{

font-size:18px;

font-weight:700;

}

.label{

font-size:12px;

margin-top:2px;

}



.more-btn{

text-align:center;

background:#ffd902;

color:#081c34;

padding:10px;

border-radius:8px;

font-weight:600;

cursor:pointer;

margin-top:10px;

}




.sports-select{

display:flex;

gap:10px;

margin-bottom:15px;

}

.select-box{

flex:1;

background:#1c2f45;

border-radius:10px;

padding:10px;

text-align:center;

color:white;

cursor:pointer;

}

.select-box.active{

background:#3cff00;

color:#081c34;

font-weight:bold;

}

.count{

font-size:18px;

font-weight:700;

}

.label{

font-size:12px;

}


.team-logo{

width:40px;

height:40px;

object-fit:contain;

}




.timezone-select{

padding:6px 10px;
border-radius:6px;
border:1px solid #ccc;
background:white;
font-size:14px;

}




.match-card{
position:relative;
}

.live-indicator{
display:flex;
align-items:center;
gap:6px;
color:red;
font-weight:bold;
}

.live-dot{
width:10px;
height:10px;
background:limegreen;
border-radius:50%;
animation:pulse 1s infinite;
}

@keyframes pulse{
0%{transform:scale(1);opacity:1;}
50%{transform:scale(1.5);opacity:0.5;}
100%{transform:scale(1);opacity:1;}
}

.open-live{
position:absolute;
top:6px;
right:10px;
font-size:11px;
color:#07ff28;
text-decoration:none;
font-weight:600;
}